h1 {
	color: white; background: black;
}
#brief {
	color: white; background: black;
}
#indictment {
	color: white; background: black;
}
#process {
	color: white; background: black;
}
#support {
	color: white; background: black;
}