@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

.header {
	width: 1440px;
	height: 60px;
	background-color: lightblue;
}

.head {
	color: gray;
	font-size: 30px;
	box-sizing: border-box;
	padding: 12px 50px 12px 1000px;
	font-family: 'Tinos', serif;
}

.body {
	width: 1440px;
	position: static;
}

section {
	width: 400px;
	height: 800px;
	display: inline-block;
	border: 5px solid lightpink;
	border-radius: 15px;
	box-sizing: border-box;
	font-family: 'Tinos', serif;
	font-size: 17px;
	color: dimgray;
	vertical-align: top;
	padding: 20px 20px 20px 30px;
	line-height: 1.5em;
}

h2 {
	font-size: 20px;
	text-transform: uppercase;
}

.one {
	position: static;
	margin-top: 52px;
	margin-left: 70px;
	margin-bottom: 52px;
}

.two {
	position: relative;
	top: 52px;
	right: 50px;
	left: 50px;
}

.three {
	position: static;
	margin-top: 52px;
	margin-left: 100px;
	margin-bottom: 52px;
}

footer {
	width: 1440px;
	height: 60px;
	background-color: lightblue;
}

.data, .tag {
	display: inline-block;
	font-family: 'Tinos', serif;
	font-size: 20px;
	color: gray;
}

.data {
	position: static;
	margin-top: 20px;
	margin-left: 70px;
	margin-right: 1200px;
}

.tag {
}