@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Tinos:wght@700&display=swap');

* {
	box-sizing: border-box;
}

.body {
	width: 1440px;
}

.header {
	height: 60px;
	background-color: lightblue;
	color: gray;
	font-size: 30px;
	text-align: right;
	line-height: 60px;
	padding-right: 50px;
	font-family: 'Tinos', serif;
}

.mainsection {
	text-align: center;
	padding: 50px 0;
}
.column {
	width: 400px;
	display: inline-block;
	border: 5px solid lightpink;
	border-radius: 15px;
	font-family: 'Tinos', serif;
	font-size: 17px;
	color: dimgray;
	padding: 20px 20px 20px 30px;
	line-height: 1.5em;
	text-align: left
}

.columnhead {
	font-size: 20px;
	text-transform: uppercase;
}

.two {
	margin: 0 30px;
}


footer {
	width: 1440px;
	height: 60px;
	background-color: lightblue;
}

.data, .tag {
	display: inline-block;
	font-family: 'Tinos', serif;
	font-size: 20px;
	color: gray;
}

.data {
	margin-top: 20px;
	margin-left: 70px;
	margin-right: 1200px;
}